{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
    <script src="{% static 'js/audiojs/audio.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>{{title}}</title>
</head>
<body>
    <header>
        <p class="headerTitle">{{title}}</p>
        <ul>
            <li class="headerList"><a id="displayCheck" href="#">確認状況</a></li>
            <li class="headerList"><a id="displayFile" href="#">送信ファイル</a></li>
        </ul>
    </header>

    <div id="mask"></div>

    <h1>{{title}}</h1>
    
    <p>{{msg}}</p>

    <div id="container">
        <div id="chat">
            <ul>
                {% for data in dataChat %}

                    {% if user.get_username == data.userEnglish %}
                        <li class="commentList LeftSide">

                    {% else %}
                        <li class="commentList RightSide">
                    {% endif %}
                            <div class="icon">
                                <img src="{% static "" %}image/{{data.userEnglish}}.png" >
                                <p class="postName">{{data.user}}</p>
                            </div>
                            <div class="comment">
                                {{data.comment|linebreaksbr}}
                                <p class="postTime">{{data.posttime|date:"Y-m-d H:i:s"}}</p>
                            </div>
                        </li>

                {% endfor %}
            </ul>
        </div>

        <div id="file">
            送信ファイル

            <ul>
                <!--ファイル数ループ-->
                {% for file in dataFile %}
                    <li>
                        <p class="fileName">{{file.name}}</p>
                        <p class="deadline">投稿日：{{file.uptime|date:"Y-m-d"}}　確認期限：{{file.deadlineDate|date:"Y-m-d"}}</p>
                        <audio src="{% static "" %}media/{{file.name}}" preload="none"></audio>
                    
                        <form class="btnForm" method="get">
                            {% csrf_token %}
                            <input type="text" name="fileID_dummy" class="fileID_dummy" value="{{file.id}}">
                            <input class="btn checkBtn" type="submit" name="check" value="確認">
                            <input class="btn checkBtn" type="submit" name="checkNo" value="期限内には無理"> 
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="check">
            確認状況
            <!--ファイル名ループ-->
            {% for file in dataFile %}
                <p class="fileName">{{file.name}}</p>

                <ul>
                    <!--確認状況ループ-->
                    {% for check in dataCheck %}
                        <!--ファイルIDが同じものを表示-->
                        {% if file.id == check.fileID %}
                            <li class="checkList">
                                {{check.user}}：{% if check.checkdate == None %}未確認
                                                {% else %}{{check.checkdate|date:"Y-m-d"}} 確認
                                                {% endif %}
                            </li>
                        {% endif %}

                    {% endfor %}

                </ul>
            {% endfor %}

        </div>
    </div>

    <!--コメント入力フォーム-->
    <form class="form" method="post" id="commentForm">
        {% csrf_token %}

        <table>
            {{ commentForm.as_table }}
        </table>

        <input class="btn" type="submit" name="comment" value="コメント送信">
    </form>

    <!--ファイルアップロードフォーム-->
    <form class="form" method="post"  id="fileForm" enctype="multipart/form-data">
        {% csrf_token %}

        <table>
            {{ fileForm.as_table }}
        </table>

        <input class="btn" type="submit" name="upload" value="アップロード">
    </form>

    <a class="return" href="{% url 'room' %}">戻る</a>
    
    <script>
      audiojs.events.ready(function() {
        var as = audiojs.createAll();
      });
    </script>
    <script src="{% static 'js/chat.js' %}"></script>
</body>
</html>