body {
    padding: 0;
    margin: 0;
    padding-left: 15px;
}

header {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

#container {
    display: flex;
    margin-top: 80px;
}

#check {
    background-color: skyblue;
    flex: 1;
    margin-left: 15px;
    padding: 10px;
    height: 500px;
    overflow-y: scroll;
}

#check > p {
    font-size: 15px;
    color: darkblue;
    margin-top: 10px;
}

#check > ul {
    margin: 0;
}

.fileName {
    margin-bottom: 0px;
    font-size: 12px;
    color: darkblue;
}

#chat {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    overflow-y: scroll;
}

#file {
    background-color: blanchedalmond;
    width: 500px;
    height: 500px;
    margin-left: 15px;
    padding: 10px;
    overflow-y: scroll;
}

.deadline {
    margin: 0px;
    font-size: 10px;
    color: red;
    float: right;
}

.commentList {
    display: flex;
}

.postName {
    margin: 0;
    padding: 0;
    font-size: 13px;
    margin-top: -5px;
}

.icon {
    background-color: transparent;
    width: 80px;
    height: 80px;
    text-align: center;
}

.postTime {
    margin: 0;
    font-size: 10px;
    vertical-align: bottom;
}

.RightSide {
    flex-direction: row-reverse;
    text-align: right;
}

.RightSide .postTime {
    text-align: right;
}

.commentList img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 0 10px;
}

.comment {
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #eee;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    max-width: 60%;
    line-height: 1.8;
    position: relative;
    text-align: left;
}

.comment::before {
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    position: absolute;
}

.RightSide .comment::before {
    top: 12px;
    right: -16px;
    border-left-color: #eee;
}

.LeftSide .comment::before {
    top: 12px;
    left: -16px;
    border-right-color: #eee;
}

.return {
    display: block;
    margin-top: 15px;
}


table {
    margin: 10px;
    font-size: 14px;
}

table tr th {
    background-color: #099;
    color: white;
    padding: 2px 10px;
    border-width: 2px;
}

table tr td {
    background-color: #eee;
    color: #666;
    padding: 2px 10px;
    border-width: 2px;
}

.checkList {
    margin: 0;
    font-size: 15px;
}

.checkBtn {
    margin: 10px;
}

.fileID_dummy {
    display: none;
}

@media(max-width: 600px) {
    #mask {
        background: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: none;
        z-index: 2;
    }

    header {
        display: flex;
        background-color: black;
        color: white;
        height: 50px;
        width: 95%;
        align-items: center;
        font-size: 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        padding: 0 20px;
    }

    header p, ul {
        margin: 0;
    }

    header a {
        text-decoration: none;
        color: white;
    }

    .headerTitle {
        margin: 0 20px 0 10px;
    }

    .headerList {
        float: right;
        margin: 0 20px;
    }

    header ul {
        margin-left: auto;
        padding-right: 20px;
    }

    h1 {
        display: none;
    }
    
    #container {
        flex: none;
    }

    #check {
        flex: none;
        display: none;
        width: 500px;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 3;
        overflow-y: hidden;
        height: auto;
    }

    #file {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 3;
        overflow-y: hidden;
        height: auto;
    }

    #chat {
        border: 1px solid black;
        width: 100%;
        height: 500px;
        overflow-y: scroll;
        z-index: 1;
    }

    form {
        text-align: center;
        font-size: 20px;
        width: 100%;
    }

    input {
        font-size: 20px;
    }

    body {
        max-width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    ul {
        list-style: none;
        padding-left: 0px;
    }

    .btn {
        width: 50%;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .return {
        font-size: 20px;
    }

    table {
        margin: 0;
        padding: 0;
    }

        table th {
            display: block;
            width: 100%;
            text-align: center;
        }

        table tr {
            width: 100%;
            padding: 0;
            text-align: center;
        }

        table td {
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            text-align: center;
        }

        table input {
            width: 100%;
            padding: 0;
            margin: 0;
            text-align: center;
        }

    textarea  {
        width: 100%;
    }
}