{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>{{title}}</title>
</head>

<body>

    <div class="container">
        <h1>{{title}}</h1>
        <h2>商品管理</h2>
        <ul>
            <li class="contents"><a href="{% url goto.0 %}">在庫</a></li>
            <li class="contents"><a href="{% url goto.1 %}">セット</a></li>
            <li class="contents"><a href="{% url goto.2 %}">売上</a></li>
        </ul>
        <h2>金銭管理</h2>
        <ul>
            <li class="contents"><a href="{% url goto.3 %}">収支</a></li>
            <li class="contents"><a href="{% url goto.4 %}">立替金</a></li>
            <li class="contents"><a href="{% url goto.5 %}">立替金詳細</a></li>
            <li class="contents"><a href="{% url goto.6 %}">作品ごと集計</a></li>
        </ul>
        <h2>作品管理</h2>
        <ul>
            <li class="contents"><a href="{% url goto.7 %}">作品</a></li>
            <li class="contents"><a href="{% url goto.8 %}">キャスト</a></li>
            <li class="contents"><a href="{% url goto.9 %}">進捗</a></li>
            <li class="contents"><a href="{% url goto.10 %}">手持ち作業集計</a></li>
        </ul>
        <h2>作品確認</h2>
        <ul>
            <li class="contents"><a href="{% url goto.11 %}">確認チャット</a></li>
        </ul>
    </div>

    <a class="logout" href="{% url 'login' %}">ログアウト</a>

</body>
</html>
