{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
    <title>{{title}}</title>
</head>

<body>

    <h2>{{info}}</h2>

    <table>
        {% if type == '在庫' %}
            <!--在庫データ表示--> 
            <tr>
                <th class="del_header">商品ID</th><td class="del_item">{{obj.id}}</td>
            </tr>
            <tr>
                <th class="del_header">セットID</th><td class="del_item">{{obj.set_id}}</td>
            </tr>
            <tr>
                <th class="del_header">商品名</th><td class="del_item">{{obj.name}}</td>
            </tr>
            <tr>
                <th class="del_header">値段</th><td class="del_item">{{obj.price}}</td>
            </tr>
            <tr>
                <th class="del_header">在庫</th><td class="del_item">{{obj.stock}}</td>
            </tr>
            <tr>
                <th class="del_header">所持者</th><td class="del_item">{{obj.owner}}</td>
            </tr>
        {% elif type == 'セット' %}
            <!--セットデータ表示--> 
            <tr>
                <th class="del_header">セットID</th><td class="del_item">{{obj.set_id}}</td>
            </tr>
            <tr>
                <th class="del_header">セット名</th><td class="del_item">{{obj.set_name}}</td>
            </tr>
            <tr>
                <th class="del_header">値段</th><td class="del_item">{{obj.price}}</td>
            </tr>
        {% else %}
            <!--売上データ表示-->
            <tr>
                <th class="del_header">売上ID</th><td class="del_item">{{obj.sales_id}}</td>
            </tr>
            <tr>
                <th class="del_header">日付</th><td class="del_item">{{obj.date|date:"Y-m-d"}}</td>
            </tr>
            <tr>
                <th class="del_header">売上種別</th>
                <td class="del_item">{% if obj.type == 0 %}個別{% endif %}
                    {% if obj.type == 1 %}セット{% endif %}</td>
            </tr>
            <tr>
                <th class="del_header">商品/セットID</th><td class="del_item">{{obj.type_id}}</td>
            </tr>
            <tr>
                <th class="del_header">単価</th><td class="del_item">{{obj.price}}</td>
            </tr>
            <tr>
                <th class="del_header">売上個数</th><td class="del_item">{{obj.count}}</td>
            </tr>
            <tr>
                <th class="del_header">特記事項</th><td class="del_item">{{obj.other}}</td>
            </tr>
        {% endif %}
    </table>

    <form anction="{{ request.META.HTTP_REFERER }}" method="post">
        {% csrf_token %}
        <input class="btn" type="submit" value="削除" >
    </form>

    <a class="return" href="{{request.META.HTTP_REFERER}}">戻る</a>

</body>
</html>