{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
    <title>{{title}}</title>
</head>

<body>

    <h2>{{info}}</h2>

    <form anction="{{ request.META.HTTP_REFERER }}" method="post">
        {% csrf_token %}
        
        <table>
            {{ form.as_table }}
        </table>

        <input class="btn" type="submit" value="更新" >
    </form>

    <a class="return" href="{{request.META.HTTP_REFERER}}">戻る</a>

</body>
</html>